<article class="card-body mx-auto" style="max-width: 400px;">
  <h4 class="card-title mt-3 text-center">Login</h4>
  <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
    <div class="form-group input-group">
      <input name="email" class="form-control" placeholder  ="tina@exemple.com" formControlName="email" type="email">
      <div class="input-group-text">
        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
      </div>
    </div>
    <small class="error-message"
      *ngIf="inputForm.controls['email'].dirty && inputForm.controls['email'].hasError('required')">
      Email requis
    </small>
    <small class="error-message"
      *ngIf="inputForm.controls['email'].dirty && inputForm.controls['email'].hasError('pattern')">
      Mail incorrecte
    </small>
    <div class="margin-bottom-form"></div>

    <div class="form-group input-group">
      <input class="form-control" [type]="showpassword ? 'text' : 'password'" formControlName="password" required >
      <div class="input-group-text">
        <!-- <span class="input-group-text"> <i class="fa fa-lock"></i> </span> -->
        <a *ngIf="showpassword" class="hover input-group-text" (click)="show()"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
        <a *ngIf="!showpassword" class="hover input-group-text" (click)="show()"> <i class="fa fa-eye-slash" aria-hidden="true"></i> </a>
      </div>
    </div>
    <small class="error-message"
      *ngIf="inputForm.controls['password'].dirty && inputForm.controls['password'].hasError('required')" >
      Mot de passe requis
    </small>
    <div class="margin-bottom-form"></div>

    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" [disabled]="!inputForm.valid">
        Login
      </button>
    </div>
  </form>
</article>
