.sign-up-link{
  color: #c841ff;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
.forgot-pwd-link{
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
.hover{
  &:hover{
    cursor: pointer;
  }
}

form {
  padding: 20px 15px;
  border: 1px solid;
  margin: 20px 0;
  > .error-message{
    color: red;
  }
 .form-group{
   margin-bottom: 0;
 }
 .margin-bottom-form{
   margin-bottom: 10px;
 }
}
